<% if flash[:my_errors] %>
  <% flash[:my_errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= form_for @snail do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :age %>
  <%= f.number_field :age, id: "test" %>

  <%= f.label :slime_level %>
  <%= f.number_field :slime_level %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>
  
  <%= f.submit %>

<% end %>

