<h1>Create New Snail Snap aka Post</h1>

<%= form_for @snail_snap do |f| %>
  <%= f.label :caption %>
  <%= f.text_field :caption %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.label :snail_id %>
  <%= f.collection_select :snail_id, Snail.all, :id, :name %>

  <%= f.submit %>
<% end %>

