<h1>Snail Show</h1>

<h3><%=@snail.name%></h3>
<p>Age: <%=@snail.age%></p>
<p>Slim Level: <%=@snail.slime_level%></p>

                          
<%= link_to "Index Page", snails_path%>
<%= button_to "Delete", snail_path(@snail), {method: :delete} %>